* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: 30px 0;
}

.box {
  border: 2px solid black;
  background-color: #c3c3c3;
  padding: 20px;
  margin: 10px 0;
  position: relative;
  min-height: 200px;
}

.section-title {
text-align: center;
font-size: large;
font-weight: bolder;

}

.mobile-menu {
  background-color: #ffffff;
  width: 100%;
 text-decoration-color: #3a3a3a;
  border: 2px solid rgb(76, 75, 75);
margin: 0;


}
.navbar-header{
 
margin-bottom: 0;
padding-left: 2em;
  padding-right: 2em;
}
.navbar-brand{
  font-size: large;
  font-weight: bolder;
  margin-left: 2em;

}
.mobile-menu li {
  border-bottom: 2px solid #3a3a3a;
}

.mobile-menu li:last-child {
  border-bottom: none;
}
.tall-section {
  padding: 20px;
  min-height: 1000px;
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  background-color: #d0cdcd;
  border: 2px solid rgb(15, 15, 15);

}

